<%- include('header'); -%>
    <form class="signup" onchange="setEmpty()">
        <h2>Forgot Password</h2>
        <label for="email">Email</label>
        <input type="email" name="email" required></input>
        <button type="submit">Send Link</button>
    </form>

    <div class="sentMail"></div>
    <script>
        const form = document.querySelector("form")
        form.addEventListener("submit", (e) => {
            e.preventDefault()
            const email = form.email.value;
            document.querySelector('.sentMail').innerHTML = "<h2>check your mail to veify</h2>"
        })
    </script>