<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="header">
        <nav>
            <a href="/"><img src="/Kriova.png" alt=""></a>
            <ul>
                <% if(user) { %>
                    <li><a href="/logout">Log out</a></li>
                    </h5>
                    <% } else { %>
                        <li><a href="/login">Log in</a></li>
                        <li><a href="/signup" class="btn">Sign up</a></li>
                        <% } %>
            </ul>
        </nav>
    </div>