<%- include('header'); -%>

    <div class="container">
        <div class="cover-photo">
            <img src="profile.png" class="profile">
        </div>
        <div class="profile-name">
            <%=user.email%>
        </div>
        <p class="about">User Interface Designer and<br>front-end developer</p>
    </div>
    </body>

    </html>