<%- include('header'); -%>

    <div class="container">
        <div class="cover-photo">
            <img src="profile.png" class="profile">
        </div>
        <div class="profile-name">
            <%=user.name%>
        </div>
        <p class="about">Student and<br>Web developer</p>
    </div>
    </body>

    </html>