<%- include('header'); -%>

    <center>
        <div class="profile">
            <img src="/profile.png" alt="">
            <h2>
                <%= user.email %>
            </h2>
            <h3>employee at Kriova</h3>
        </div>

    </center>
    </body>

    </html>